<div style="overflow-x:auto;" *ngIf="usuarios as usus;">
    <table *ngIf="usus.length > 0; else otro">
        <thead>
            <th>id</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>edad</th>
        </thead>
        <tbody>
            <tr *ngFor="let usu of usus" (click)="enviar(usu.id)">
                <td>{{ usu.id }}</td>
                <td>{{ usu.nombre }}</td>
                <td>{{ usu.apellido }}</td>
                <td>{{ usu.edad }}</td>
            </tr>
        </tbody>
        <!-- <tfoot>Aqui esta el footer</tfoot> -->
    </table>
    <ng-template #otro>
        <p>no hay info</p>
    </ng-template>
</div>

<div class="botones">
    <input class="x" type="button" value="Crear" (click)="crear()">
    <input type="button" value="Cambiar Imagen" (click)="cambirImagen()">
    <input type="button" [disabled]="paginacion == (total - 1)" value=">" (click)="siguientes()">
    <input type="button" [disabled]="paginacion == 0" value="<" (click)="anterior()">
    <input type="button" value="login" (click)="regresar()">
</div>