main{
    margin-left: 5rem;
    padding: 1rem;
    background-color: #360224;
    // background-color: #2c061f;
    // background: linear-gradient(to right, red , yellow);
    // background: #c31432;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #126ca0, #f0adb8);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(90deg, #126ca0, #f3f3f3 , #f0adb8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;

    min-height: 100%;
}
.margen{
    margin-top: 60px;
}