.formulario{
    // max-width: 50%;
    display: block;
    padding: 0 60px 60px;
    border: 1px solid #944e6c;
    background-color: #f2f2f2;
    margin: 15px 100px;
    border-radius: 5px;
    & > h1 {
        text-align: center;
    }
}
.formulario-form{
    margin: 10%;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    border: none;
    // flex-direction: row;
}

.boton__enviar {
    padding: 15px;
    border-radius: 5px;
    background-color: #880e4f;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    &:hover{
        background-color: #fff;
        border: 2px solid #880e4f;
        color: #880e4f;
        // letter-spacing: 2px;
    }
}
.boton__eliminar {
    padding: 15px;
    border-radius: 5px;
    background-color: #b71c1c;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    &:hover{
        background-color: #fff;
        border: 2px solid #b71c1c ;
        color: #b71c1c;
        // letter-spacing: 2px;
    }
}
.boton__regresar{
    padding: 15px;
    border-radius: 5px;
    background-color: #757575;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    &:hover{
        background-color: #fff;
        color: #757575;
        border: 2px solid #757575;
        // letter-spacing: 2px;
    }
}

.btn{
    cursor: pointer;
    border: none;
    outline: none;
}
.formulario input[type="text"], .inputs{
    border: none;
    // margin-left: 15px;
    // width: 60%;
    display: block;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    width: 100%;
}
// input[type="text"]:active,

.formulario input[type="text"]:focus,
    input[type="text"]:hover,
    input[type="text"]:active,
    .inputs:hover,
    .inputs:active,
    .inputs:hover {
    border-bottom: 2px solid #944e6c;
    // box-shadow: #fff 0 0 7px 7px;
}


.formulario label {
    font-weight: 700;
    text-transform: uppercase;
}

.botones input[type="submit"]:disabled {
    background: #dddddd;
    cursor: not-allowed;
    border: none;
    letter-spacing: normal;
    color: #fff;
}

@media screen and (max-width:470px){
    .formulario{
        margin: 0;
    }
    .botones{
        flex-direction: column;
    }
}