<div class="formulario">
    <div class="formulario-form">
        <h1>Actualizar Usuario</h1>
        <form [formGroup]="formulario" (ngSubmit)="ActualizarUsuario()">
            <label for="nombre">nombre:</label>
            <input formControlName="nombre" type="text" name="nombre" id="">
            <div *ngIf="nombre?.errors">
                <span *ngIf="nombre?.hasError('required')">el campo es requerido</span>
                <span *ngIf="nombre?.hasError('min')">el campo debe ser mayor que 18</span>
                <span *ngIf="nombre?.hasError('max')">el campo debe ser menor que 60</span>
            </div>
            <br />
            <label for="apellido">apellido:</label>
            <input formControlName="apellido" type="text" name="apellido" id="">
            <div *ngIf="apellido?.errors">
                <span *ngIf="apellido?.hasError('required')">el campo es requerido</span>
                <span *ngIf="apellido?.hasError('min')">el campo debe ser mayor que 18</span>
                <span *ngIf="apellido?.hasError('max')">el campo debe ser menor que 60</span>
            </div>
            <br />
            <label for="edad">edad:</label>
            <input class="inputs" formControlName="edad" type="number" name="edad"><br />
            <div *ngIf="edad?.errors">
                <span *ngIf="edad?.hasError('required')">el campo es requerido</span>
                <span *ngIf="edad?.hasError('min')">el campo debe ser mayor que 18</span>
                <span *ngIf="edad?.hasError('max')">el campo debe ser menor que 60</span>
            </div>
            <div class="botones">
                <input class="btn boton__enviar" type="submit" [disabled]="formulario.invalid" value="Actualizar"><br />
                <input class="btn boton__eliminar" type="button" value="Eliminar" (click)="eliminar()"><br />
                <input class="btn boton__regresar" type="button" value="Regresar" (click)="regresar()">
            </div>
            <!-- <pre>
                {{ formulario.value | json }}
                valido: {{ formulario.valid }}
                invalido: {{ formulario.invalid }}
                pristine: {{ formulario.pristine }}
                dirty: {{ formulario.dirty }}
                disabled: {{ formulario.disabled }}
                pending: {{ formulario.pending }}
                enabled: {{ formulario.enabled }}
                touched: {{ formulario.touched }}
                untouched: {{ formulario.untouched }}
            </pre> -->
        </form>
    </div>
</div>